html {
  height: 100%;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

form {
  padding: 22px 40px;
}

h1,
h2 {
  text-align: center;
}

form,
h1,
h2,
.all-information {
  font-family: "Mulish", sans-serif;
}

h1 {
  margin: 0px 30px;
  font-size: 30px;
}

h2 {
  margin-top: 4px;
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  border: 2px solid #838383;
  border-radius: 8px;
  display: block;
  margin: 120px auto 0;
  padding-bottom: 20px;
  max-width: 600px;
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
}

.all-information {
  text-align: center;
  margin: 25px auto;
  padding: 5px 2px;
  border: 5px solid white;
  border-radius: 15px;
  
}


.search-city {
  display: inline;
  max-width: 65%;
}

.weather-icon {
  font-size: 50px;
  padding-bottom: 10px;
}

.weather-info {
margin-top: 30px;
}

.current-temp {
  font-size: 35px;
  margin: 0;
}

.current-location {
  background: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 10px 9px 14px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}



.units {
  font-size: 14px;
  position: relative;
  top: -13px;
}

.units .active {
  color: #000000;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.feel-temp p {
  margin-bottom: 5px;
}

.forecast {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.forecast h3 {
  font-size: 15px;
}

.forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }
}

.weather-description {
  font-size: 15px;
}

.open-source {
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}

.search-bar {
  background: #ffffff;
  border: none;
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 65px;
  
}

.search-button {
  background: #ffffff;
  border: none;
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 9px 18px;
  text-align: center;
}

.min-temp {
font-size: 13px;
}

.max-temp {
font-size: 15px;
}